.container__input-container {
    width: 1000px;
    height: 200px;
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-container__inputs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    flex: 1 1 200px;
}

.inputs__input-group {
    position: relative;
}

.inputs__input-group input, select, option, input {
    padding: 10px;
    background-color: var(--color-4);
    border: none;
    border-radius: 20px;
    width: 300px;
    color: #333;
    font-family: sans-serif;
    font-size: 1.1rem;
    outline: none;
    transition: outline .1s ease-in-out;
}

.inputs__input-group input:focus, select:focus, input:focus {
    outline: 2px solid whitesmoke;
}

.log-in__form:has(input[type="text"]:valid) #user, .log-in__form:has(input[type="password"]:valid) #pass {
    color: #40ff79;

}

.log-in__form:has(input[type="text"]:invalid) #user, .log-in__form:has(input[type="password"]:invalid) #pass {
    color: #ff443b;
}

.inputs__input-group label {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-right: 10px;
    color: #444a;
}

.inputs__input-group:has(input:focus) label {
    display: none;
}

.input-container__title, .input-container__text {
    margin-top: 15px;
    font-size: 1.2rem;
    color: whitesmoke;
    width: 80%;
    text-align: center;
}

#text {
    font-family: sans-serif;
}

button {
    display: flex;
    padding: 10px 15px;
    background-color: whitesmoke;
    border: none;
    border-radius: 20px;
    width: fit-content;
    color: var(--color-3);
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 5px;
}

.input-group__project {
    width: 400px;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin: 20px;
}

.input-group__project p {
    margin-top: 0;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-bottom: 12px;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
    }
}