.container__nav-container {
    width: 1000px;
    height: fit-content;
    background-color: var(--color-3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding: 35px;
    position: relative;
}

.nav__list::before {
    content: " ";
    position: absolute;
    top: 100px;
    left: 25px;
    width: 95%;
    height: 1px;
    background-color: var(--color-4);
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

.list__item:first-child { 
    justify-self: flex-start;
}

.list__item:last-child { 
    justify-self: flex-end;
}

.item__link {
    width: 130px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    color: whitesmoke;
    padding: 8px;
    transition: color .1s ease-in-out;
}